{%extends "base.html" %}
{%block content%}

<div x-data="imageComponent()" class="main">
    <button @click="storeCheckpoint">Save Checkpoint</button>
    <h1>Label Some Images | <span x-text="remainingImages"></span> remaining</h1>
    <div class="image-container">
        <img :src="imageSrc" alt="Missing image.." />
    </div>
    <div id="buttonContainer" x-show="remainingImages > 0" class="buttons">
        <template x-for="(button, _) in buttons">
            <button type="button" @click="storeAndGetNext(button)" x-text="button"></button>
        </template>
    </div>
</div>


<script>
    function imageComponent() {
        return {
            imageSrc: '',
            remainingImages: -1,
            buttons: [],
            async getNextImage() {
                await fetch('/image/')
                    .then(response => response.json())
                    .then(data => {
                        this.imageSrc = data.src
                        this.remainingImages = data.numImagesRemaining
                    }).catch(error => {
                        console.error('Error fetching image:', error);
                    });
            },
            async storeLabel(labelValue) {
                console.log(labelValue, this.imageSrc)
                let response = await fetch("/label/", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ label: labelValue, image: this.imageSrc })
                })
            },
            async storeAndGetNext(labelValue) {
                this.storeLabel(labelValue)
                this.getNextImage()
            },

            async storeCheckpoint() {
                await fetch("/label/checkpoint/", { method: "POST", headers: { "Content-Type": "application/json" } })
            },
            async fetchButtons() {
                await fetch('/classes/', {
                    headers: { "Content-Type": "application/json" },
                })
                    .then(response => response.json())
                    .then(data => {
                        this.buttons = data.class_names
                    }).catch(error => {
                        console.error('Error fetching image:', error);
                    });
            },
            init() {
                this.getNextImage();
                this.fetchButtons()
            }
        }
    }
</script>


{% endblock %}